*{
    box-sizing: border-box;
    margin: 0px;
}

/* HEADER */

.header__box{
    background-color: initial;
}

/* CONTACT */

.form{
    background: #141414;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__box{
    display: grid;
}
@media (min-width: 769px){
    .contact__box{
        display: flex;
        flex-direction: row;
    }
}

/* TITLE */

.contact__title{
    color: white;
    font-size: 2rem;
    margin: 0 auto; 
    padding: 20px;
    text-align: center;
}

/* FORM */

.contact__form{
    min-width: 320px;
    max-width: 500px;
    display: grid;
    gap: 5px;
}

.contact__fielset{
    display: grid;
    padding: 10px;
    gap: 5px;
}

.contact__label{
    display: block;
    color: white;
}

.contact__input-name,
.contact__input-email,
.contact__input-textarea{
    font-size: 13px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 1px;
    padding: 5px;
}

.contact__input-textarea{
    width: 100%;
    min-width: 100%;
    max-width: 300px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
}

/* BUTTON */

.contact__button-send{
    padding: 10px;
}

.contact__button{
    font-size: 10px;
    background-color: #2C2C2C;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

/* CONTACT PAGE */

.home__contact{
    background-color: #141414;
}
@media (min-width: 769px){
    .home__contact{
        background: linear-gradient(107.17deg, #408195 29.35%, rgba(0, 210, 135, 0.8) 78.73%);
    }
}

.form__contact{
    background: initial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SWAL "Mensaje Enviado" */

.swal-overlay{
    background-color: rgba(0, 255, 200, 0.5)
}