*{
    box-sizing: border-box;
    margin: 0px;
}

.services__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    padding: 10px;
}

/* TITLE */

.services__title{
    text-align: center;
    margin: 70px auto;
    font-size: 3rem;
}

.services__container{
    max-width: 350px;
    max-height: 500px;
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

/* SERVICE CONTAINER */

.services__container-img{
    max-width: 150px;
}

.services__container-title{
    font-size: 2rem;
}

.services__container-description{
    text-align: center;
}

/* SERVICE PAGE */

.header__services,
.services__services{
    background-color: #141414;
    color: #fff;
}
