*{
    box-sizing: border-box;
    margin: 0px;
}

.header__box{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* ISOTIPO */

.header__isotipo{
    display: flex;
    align-items: center;
}

.header__isotipo-img{
    height: 70px;
    width: 70px;
}

/* BUTTON OPEN */

.header__main-mobile-button{
    height: 80px;
    width: 80px;
}
@media (min-width: 769px) {
    .header__main-mobile-button{
        display: none;
    }
}

/* MAIN MOBILE */

.header__main-mobile{
    background-color: #000;
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
@media (min-width: 769px) {
    .header__main-mobile{
        display: none;
    }
}

/* BUTTON CLOSE */

.header__main-mobile-container-close{
    text-align: end;
    padding: 20px;
}

.header__main-mobile-button-close{
    background-color: #000;
    font-size: 20px;
    color: #b1b1b1;
    border: none;
}

/* CONTAINER MAIN */

.header__main-mobile-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header__main-mobile-item{
    font-size: 2rem;
}

/* MAIN DESKTOP */

.header__main-desktop{
    display: none;
}
@media (min-width: 769px) {
    .header__main-desktop{
        display: flex;
        font-size: 25px;
        gap: 20px;
    }
}